<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="username">Enter username: </label>
  <input th:utype="text" th:field="*{username}" id="username"/>
  <br/>
  <label for="password">Enter password: </label>
  <input th:utype="text" th:field="*{password}" id="password"/>
  <br/>
  <label for="socialCredit">Enter social credit:</label>
  <input th:utype="text" th:field="*{socialCredit}" id="socialCredit"/>
  <br/>
  <input th:type="submit" value="update"/>
</form>
<br/>
<br/>
<hr/>
<td> <a th:href="@{/logout}">Logout</a></td>
</body>
</html>