
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>

<form action="#" th:action="@{/admin}" th:object="${user}" method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <label for="socialCredit">Social credit</label>
    <input type="text" th:field="*{socialCredit}" id="socialCredit" placeholder="Social credit">
    <input type="submit" value="Create user">
</form>
<br/>
<br/>
<hr/>
<td> <a th:href="@{/logout}">Logout</a></td>
</body>
</html>